<section class="container p-6 mx-auto">
  <h1
    class="
      font-serif
      text-4xl
      font-semibold
      text-center text-gray-700
      py-12
      md:text-5xl
    "
  >
    {{ section.settings.title }}
  </h1>
  <div
    class="
      grid grid-cols-1
      gap-y-6
      md:gap-y-0
      gap-2
      lg:grid-cols-3
      md:grid-cols-2 md:gap-x-8
    "
  >
    {% for article in blogs[section.settings.featured_blog].articles limit: 3 %}
    <a href="{{ article.url }}">
      <div class="rounded overflow-hidden shadow-md">
        <img
          src="{{ article.image.src | img_url: 'master' }}"
          alt="{{ article.title }}"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl my-2">{{ article.title }}</div>
          <div class="text-gray-500 text-base">
            {{ article.excerpt_or_content | truncate: 100, '...' }}
          </div>
        </div>
        <div class="px-6 pt-4 pb-2">
          {% for tag in article.tags limit: 5 %}
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
            "
            >{{ tag }}</span
          >
          {% endfor %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% schema %} { "name": "Featured Blog", "class": "featured-blog-section",
"settings": [ { "type": "blog", "id": "featured_blog", "label": "Blog" }, {
"type": "text", "id": "title", "default": "Featued Blog", "label": "Title" } ],
"presets": [ { "category": "Blog", "name": "Featued Blog" } ] } {% endschema %}
