{% assign number_of_comments = article.comments_count %} {% if comment and
comment.created_at %} {% assign number_of_comments = article.comments_count %}
{% endif %} {% capture author %}<strong>{{ article.author }}</strong
>{% endcapture %}

<section class="flex flex-col md:flex-row py-4 px-6 space-x-4">
  <div class="w-full md:max-w-6xl">
    <h1 class="text-xl font-serif font-semibold text-gray-700 my-2">
      {{ article.title }}
    </h1>
    <p class="font-semibold my-2">
      {{ article.published_at | date: format:"date" }}
    </p>
    <div class="mt-12 text-gray-800 space-y-2 font-serif">
      {{ article.content }}
    </div>
  </div>
  <aside class="md:inline-block hidden lg:max-w-lg w-1/3">
    {% section 'sidebar' %}
  </aside>
</section>

{% if blog.comments_enabled? %}
<h2>{{ number_of_comments }} comments</h2>
{% paginate article.comments by 5 %} {% for comment in article.comments %}
<div>
  <div>{{ comment.content }}</div>
  {{ comment.author }} @ {{ comment.created_at }}
</div>
{% endfor %} {% render 'pagination' %} {% endpaginate %}

<div>
  {% form 'new_comment', article %}
  {{ form.errors | default_errors }}
  <label for="CommentAuthor">name</label>
  <input
    type="text"
    name="comment[author]"
    id="CommentAuthor"
    placeholder="name"
    value="{{ form.author }}"
    autocapitalize="words"
  />

  <label for="CommentEmail">email</label>
  <input
    type="email"
    name="comment[email]"
    id="CommentEmail"
    placeholder="email"
    value="{{ form.email }}"
    autocorrect="off"
    autocapitalize="off"
  />

  <label for="CommentBody">message</label>
  <textarea name="comment[body]" id="CommentBody" placeholder="message">{{
    form.body
  }}</textarea>

  <input type="submit" value="post" />
  {% endform %}
</div>
{% endif %}
